<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial: exercise 12</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Thymeleaf tutorial - exercise 12: forms</h1>
        <h2>Customer information</h2>
        <dl th:object="${customer}">
            <dt>Customer id</dt>
            <dd th:text="*{id}">123</dd>

            <dt>First name</dt>
            <dd th:text="*{firstName}">John</dd>

            <dt>Last name</dt>
            <dd th:text="*{lastName}">Mackenzie</dd>

            <dt>Genre</dt>
            <dd th:text="*{gender?.description}">Male</dd>

            <dt>Payment method</dt>
            <dd th:text="*{paymentMethod?.description}">Credit card</dd>

            <dt>Balance</dt>
            <dd th:text="'$' + *{balance}">$300</dd>
        </dl>
        <a href="javascript:history.back()">Back</a>
    </body>
</html>
