<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial: resource code</title>
        <link rel="stylesheet" href="../../main.css" th:href="@{/main.css}" />
    </head>
    <body>
        <h1>Thymeleaf tutorial - resource code</h1>
        <h2 th:text="${resource}">Product.java</h2>
        <div class="code" th:utext="${code}">
            public class Hello {
                public void static main(String[] args) {
                    System.out.println("Hello world!");
                }
            }
        </div>
        <a href="question.html" th:href="${backUrl}" class="back">Back</a>
    </body>
</html>
