<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial - Exercise 13: inlining</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            This exercise introduces concepts from
            <a href="http://www.thymeleaf.org/doc/html/Using-Thymeleaf.html#inlining"
               title="Open Thymeleaf manual" target="_blank">chapter 11 of the Using Thymeleaf</a>
            manual.
        </p>
        <ol>
            <li>
			    There is a <kbd>String</kbd> variable with name <b>customerName</b> in the context
				model that we want to display instead of the text <i>Peter</i>. Substitute it
				using Thymeleaf's <i>text inlining</i>.
            </li>
            <li>
                You can check the proposed solution by pressing the <b>Show solution</b> button.
            </li>
        </ol>
    </body>
</html>
