<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial: exercise 21</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Thymeleaf tutorial - Answer for exercise 21: template uri variables</h1>
        <h2>Product availability</h2>
        <p>
            There are 5 products in stock.
            <a href="buy.html">Buy now!</a>
        </p>
    </body>
</html>
