<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial - Exercise 4: internationalization</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            This exercise introduces concepts from
            <a href="http://www.thymeleaf.org/doc/html/Using-Thymeleaf.html#using-texts"
               title="Open Thymeleaf manual" target="_blank">chapter 3 of the Using Thymeleaf</a>
            manual.
        </p>
        <ol>
            <li>
                Edit the source code in order internationalize all page texts. You can view the
                i18n files at the following links:
                <ul>
                    <li>
                        <a href="../../classes/messages_en.properties"
                           th:href="'javascript:CODE_DIALOG.show(\'classes/messages_en.properties\')'"
                           title="Show messages_en.properties file">English texts</a>
                    </li>
                    <li>
                        <a href="../../classes/messages_es.properties"
                           th:href="'javascript:CODE_DIALOG.show(\'classes/messages_es.properties\')'"
                           title="Show messages_es.properties file">Spanish texts</a>
                    </li>
                    <li>
                        <a href="../../classes/messages_fr.properties"
                           th:href="'javascript:CODE_DIALOG.show(\'classes/messages_fr.properties\')'"
                           title="Show messages_fr.properties file">French texts</a>
                    </li>
                </ul>
            </li>
            <li>
                Use the drop-down list at the top of the generated source box to select the language used
                at runtime. English, Spanish and French are available.
            </li>
            <li>
                You can check the proposed solution by pressing the <b>Show solution</b> button
                (<img src="../../../images/lightbulb.png" th:src="@{/images/lightbulb.png}" />) above the code editor.
            </li>
        </ol>
    </body>
</html>
