<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial - Exercise 4: internationalization</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            This exercise introduces concepts from
            <a href="http://www.thymeleaf.org/doc/html/Using-Thymeleaf.html#using-texts"
               title="Open Thymeleaf manual" target="_blank">chapter 3 of the Using Thymeleaf</a>
            manual.
        </p>
        <ol>
            <li>
                Edit the source code in order internationalize all page texts. You can view the
                i18n files at the following links:
                <ul>
                    <li>
                        <a href="../../classes/messages_en.properties" th:href="@{/resources/classes/messages_en.properties}" target="_blank">English texts</a>
                    </li>
                    <li>
                        <a href="../../classes/messages_es.properties" th:href="@{/resources/classes/messages_es.properties}" target="_blank">Spanish texts</a>
                    </li>
                    <li>
                        <a href="../../classes/messages_fr.properties" th:href="@{/resources/classes/messages_fr.properties}" target="_blank">French texts</a>
                    </li>
                </ul>
            </li>
            <li>
                You can check the proposed solution by pressing the <b>Show solution</b> button.
            </li>
        </ol>
    </body>
</html>
