<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial - Exercise 18: data-* syntax</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            This exercise introduces the
            <a href="http://www.thymeleaf.org/whatsnew21.html#data"
               title="Open Thymeleaf manual" target="_blank">HTML5 data-* syntax</a>
            from the <em>What's New</em> article. <br />
        </p>
        <ol>
            <li>
                You have the solution of a previous exercise.
                Simply substitute the <kbd>th:</kbd> syntax by the <kbd>data-</kbd> syntax.
            </li>
            <li>
                You can check the proposed solution by pressing the <b>Show solution</b> button
                (<img src="../../../images/lightbulb.png" th:src="@{/images/lightbulb.png}" />) above the code editor.
            </li>
        </ol>
    </body>
</html>
