<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial - Exercise 6: iteration</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            This exercise introduces concepts from
            <a href="http://www.thymeleaf.org/doc/html/Using-Thymeleaf.html#iteration"
               title="Open Thymeleaf manual" target="_blank">chapter 6 of the Using Thymeleaf</a>
            manual.
        </p>
        <ol>
            <li>
                Edit the source code in order to show a list of products as table rows.
				A <kbd>List</kbd> of objects of class 
                <a href="../../Product.java"
                   th:href="'javascript:CODE_DIALOG.show(\'code/Product.java\')'"
                   title="See Product.java source code">Product</a>
				has been already set into the context model with variable name <b>productList</b>.
            </li>
            <li>
                You can check the proposed solution by pressing the <b>Show solution</b> button.
            </li>
        </ol>
    </body>
</html>
