<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial: exercise 14</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Thymeleaf tutorial - Answer for exercise 14: fragments</h1>
        <h2>Product list</h2>
        <ol th:remove="all-but-first">
            <li th:each="product : ${productList}">
                <span th:text="${product.description}">Red chair</span>:
                <span th:text="${'$' + #numbers.formatDecimal(product.price, 1, 2)}">$350</span>
            </li>
            <li>Table: $150</li>
            <li>Wardrobe: $450</li>
        </ol>
    </body>
</html>
