<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial - Exercise 14: same-template fragments</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            This exercise introduces concepts new in Thymeleaf 2.1. See
            <a href="http://www.thymeleaf.org/whatsnew21.html#stf"
               title="Open Thymeleaf manual" target="_blank">same-template fragments section</a>
            of the <em>What's New</em> article.
        </p>
        <ol>
            <li>
                You can see a <kbd>div</kbd> with the id <em>bannerElement</em> at the top of the page.
                The goal is convert this element into a fragment that will be reused throughout the page.
            </li>
            <li>
                First, set <kbd>/images/logo.png</kbd> as the source for the <kbd>img</kbd> logo element.
            </li>
            <li>
                Now, turn the <kbd>div</kbd> element into a fragment by using
                <kbd>th:fragment</kbd>, and include it twice after the <em>Product information</em> section and
                after the <em>Customer information</em> section. Comments have been set to help you locate
                these places. <br />
                Please include the fragment using two different ways:
                <ul>
                  <li>Firstly, using its fragment name (standard Thymeleaf-to-Thymeleaf) inclusion mechanism.</li>
                  <li>Secondly, using the DOM selector expression <kbd>//div[@id='bannerElement']</kbd>.</li>  
                </ul>
            </li>
            <li>
                You can check the proposed solution by pressing the <b>Show solution</b> button
                (<img src="../../../images/lightbulb.png" th:src="@{/images/lightbulb.png}" />) above the code editor.
            </li>
        </ol>
    </body>
</html>
