<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial: exercise 14</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Thymeleaf tutorial - Solution for exercise 14: fragments</h1>
        <h2>Product information</h2>
        <div th:fragment="banner" class="banner" id="bannerElement">
            <img src="../../../images/logo.png" th:src="@{/images/logo.png}" alt="Thymeleaf logo" />
            <span>The Thymeleaf tutorial</span>
        </div>
        <dl>
            <dt>Product name</dt>
            <dd th:text="${product.description}">Red chair</dd>

            <dt>Product price</dt>
            <dd th:text="${product.price}">350</dd>

            <dt>Product available from</dt>
            <dd th:text="${product.availableFrom}">28-Jun-2013</dd>
        </dl>
    </body>
</html>
