<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial: exercise 5</title>
        <link rel="stylesheet" href="../../../main-static.css" th:href="@{/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Thymeleaf tutorial - Exercise 5: escaped and unescaped text</h1>
        <p>This exercise introduces concepts from chapter 3 - section 1 of the <i><a href="../../../doc/Tutorial - Using Thymeleaf 20121017.pdf" 
				   th:href="@{'/doc/Tutorial - Using Thymeleaf 20121017.pdf'}">Using Thymeleaf</a></i> manual</p>
        <ol>
            <li>
                Open the <a href="../../templates/exercise05/answer.html" 
                  th:href="@{/resources/templates/exercise05/answer.html}"><kbd>WEB-INF/templates/exercise05/answer.html</kbd></a> template file with your code editor.
            </li>
            <li>
                A fragment of HTML code has been set into the context model as a <kbd>String</kbd> with variable name <b>html</b>.
                You must show it HTML-escaped in the first <kbd>div</kbd> and unescaped in the second <kbd>div</kbd>.
            </li>
            <li>
                Check your answer: 
                <a href="answer.html" th:href="@{/templates/exercise05/answer.html}">Execute it</a> |
                <a href="answer.html" th:href="@{/static/templates/exercise05/answer.html}">See it statically</a>.
            </li>
            <li>
                Finally, you can compare your answer with our proposed solution:
                <a href="solution.html" th:href="@{/templates/exercise05/solution.html}">Execute it</a> |
                <a href="solution.html" th:href="@{/resources/templates/exercise05/solution.html}">See the code</a> |
                <a href="solution.html" th:href="@{/static/templates/exercise05/solution.html}">See it statically</a>.
            </li>
        </ol>
        <a href="../index.html" th:href="@{/}" class="back">Back to index</a>
        <a href="../exercise06/question.html" th:href="@{/templates/exercise06/question.html}" class="next">Next exercise</a>
    </body>
</html>
