<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf tutorial: exercise 2</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Thymeleaf tutorial - Answer for exercise 2: bean values</h1>
        <h2>Product information</h2>
        <dl>
            <dt>Product name</dt>
            <dd>XXX</dd>

            <dt>Product price</dt>
            <dd>XXX</dd>

            <dt>Product available from</dt>
            <dd>XXX</dd>
        </dl>
    </body>
</html>
